.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.divider {
  margin: 10px 0 10px 0;
}

.form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
