<div class="outer-container">
  <mat-card class="card">
    <mat-card-header class="login-card-header">
      <h2>Увійти</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field>
          <mat-label for="login">Логін</mat-label>
          <input matInput type="text" id="login" formControlName="login" />
        </mat-form-field>

        <mat-form-field>
          <mat-label for="password">Пароль</mat-label>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
          />
        </mat-form-field>

        <mat-divider class="divider" />

        <button mat-stroked-button type="submit">Авторизуватись</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
