@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.divider {
  margin: 10px 0 10px 0;
}

.login-card-header {
  justify-content: center;
}
