<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="toolbar">
        <tc-diploma-cycle-info
          [diplomaCycle]="diplomaCycle()"
          class="diploma-cycle-info-block"
        >
        </tc-diploma-cycle-info>
        <div>Сторінка Студента</div>
        <div class="logout-block">
          <p class="logout-fullname">{{ bachelorFullName() }}</p>
          <tc-logout></tc-logout>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <nav>
        <ul class="nav-list">
          <li class="nav-link">
            <a
              mat-stroked-button
              routerLink="/bachelor/my-topic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Моя тема
            </a>
          </li>
          <li class="nav-link">
            <a
              mat-stroked-button
              routerLink="/bachelor/my-supervisor"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Мій керівник
            </a>
          </li>
          <li class="nav-link">
            <a
              mat-stroked-button
              routerLink="/bachelor/my-requests"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Мої запити
            </a>
          </li>
        </ul>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>
