<div>
  <div class="controls">
    <button mat-stroked-button (click)="downloadBachelorsCredentials()">
      <p>Паролі студентів</p>
      <mat-icon>download</mat-icon>
    </button>

    <button mat-stroked-button (click)="downloadSupervisorsCredentials()">
      <p>Паролі керівників</p>
      <mat-icon>download</mat-icon>
    </button>

    <button mat-flat-button (click)="openAddBachelorDialog()">
      Додати студента
    </button>

    <button mat-flat-button (click)="openAddSupervisorDialog()">
      Додати керівника
    </button>

    <button mat-flat-button class="button-danger">Призначити керівників</button>
    <button
      mat-flat-button
      (click)="openAssignTopicsDialog()"
      class="button-danger"
    >
      Призначити теми
    </button>

    <button
      mat-flat-button
      (click)="openEndDiplomaCycleDialog()"
      class="button-danger"
    >
      Завершити дипломний період
    </button>
  </div>
  <div>
    <div class="expansion-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="supervisor-info">
            <h2>Студенти без керівника</h2>
            <p class="bachelors-count">
              {{ bachelorsWithoutSupervisor().length }}
            </p>
          </div>
        </mat-expansion-panel-header>
        @for (bachelor of bachelorsWithoutSupervisor(); track $index) {
          <div class="bachelor-card">
            <tc-bachelor-info-card
              [bachelorData]="bachelor"
              user="admin"
              [addControlls]="true"
            >
            </tc-bachelor-info-card>
          </div>
        }
      </mat-expansion-panel>
    </div>
    @for (supervisor of supervisorsWithBachelors(); track $index) {
      <div class="expansion-container">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="supervisor-info">
              <h2>
                {{ supervisor.teacher.last_name }}
                {{ supervisor.teacher.first_name }}
                {{ supervisor.teacher.second_name }}
              </h2>
              <p class="bachelors-count">
                {{ supervisor._count.bachelors }}/{{ supervisor.max_load }}
              </p>
              <button
                mat-icon-button
                class="edit-icon"
                (click)="
                  openEditMaxLoadDialog(
                    supervisor.supervisor_id,
                    supervisor.max_load
                  )
                "
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          <div>
            @for (bachelor of supervisor.bachelors; track $index) {
              <div class="bachelor-card">
                <tc-bachelor-info-card
                  [bachelorData]="bachelor"
                  user="admin"
                  [addControlls]="true"
                >
                </tc-bachelor-info-card>
              </div>
            }
          </div>
        </mat-expansion-panel>
      </div>
    }
  </div>
</div>
