<div>
  @for (teacher of teachers(); track $index) {
    <div class="teacher-info-card">
      <div class="card-container">
        <mat-card>
          <mat-card-header>
            <h2>
              {{ teacher.last_name }} {{ teacher.first_name }}
              {{ teacher.second_name }}
            </h2>
          </mat-card-header>
          <mat-card-content>
            <div class="row-container">
              <p class="row-header">Посада:</p>
              <p>{{ teacher.position }}</p>
            </div>
            <div class="row-container">
              <p class="row-header">Науковий ступінь:</p>
              <p>{{ teacher.academic_degree }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="teacher-controls">
        <button mat-stroked-button class="teacher-button">Редагувати</button>
        <button mat-flat-button class="teacher-button">Видалити</button>
      </div>
    </div>
  }

  <mat-divider class="divider"></mat-divider>

  <div class="controls">
    <button mat-flat-button (click)="openDialog()">Додати Викладача</button>

    <mat-paginator
      [length]="totalCount()"
      hidePageSize="true"
      pageSize="{{ resultsPerPage }}"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
