@use "@angular/material" as mat;

ul {
  list-style: none;
}

mat-toolbar-row {
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.active {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--mat-sys-tertiary),
    )
  );
}

.nav-link {
  margin: 5px;
}

.toolbar {
  display: flex;
  justify-content: center;
}

.logout-block {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

.logout-fullname {
  color: var(--mat-sys-on-secondary-container);
  font-size: smaller;
  margin-right: 10px;
}
