:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  width: 30%;
  margin: auto auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.divider {
  margin: 10px 0 10px 0;
}

.card-title {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
