<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="toolbar">
        <tc-diploma-cycle-info
          [diplomaCycle]="diplomaCycle()"
          class="diploma-cycle-info-block"
        >
        </tc-diploma-cycle-info>
        <div>Сторінка Адміністратора</div>
        <tc-logout class="logout"></tc-logout>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <nav>
        <ul class="nav-list">
          <li class="nav-link">
            <a
              mat-stroked-button
              routerLink="/admin/diploma-cycle"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Дипломний цикл
            </a>
          </li>
          <li class="nav-link">
            <a
              mat-stroked-button
              routerLink="/admin/teachers"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Викладачі
            </a>
          </li>
          <li class="nav-link">
            <a
              mat-stroked-button
              routerLink="/admin/archive"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Архів
            </a>
          </li>
        </ul>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>
