@use "@angular/material" as mat;

.supervision-request-card {
  font-size: large;
}

.request-status {
  display: flex;
}

.status-accepted {
  color: green;
  margin-left: 3px;
}

.status-pending {
  color: var(--mat-sys-on-primary-container);
  margin-left: 3px;
}

.status-rejected {
  color: var(--mat-sys-on-error-container);
  margin-left: 3px;
}
