.supervision-request-card {
  font-size: large;
  width: 100%;
}

.row-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
  margin-bottom: 12px;
}

.row-header {
  font-weight: 500;
  margin-right: 8px;
}

.status-accepted {
  color: green;
}

.status-pending {
  color: var(--mat-sys-on-primary-container);
}

.status-rejected {
  color: var(--mat-sys-on-error-container);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.card-container {
  display: flex;
  height: fit-content;
  flex-direction: row;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-content-rejected {
  color: var(--mat-sys-on-error-container);
  font-size: large;
}
