/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error-snackbar {
  text-align: center;
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
      supporting-text-weight: bold,
    )
  );
}

.dialog-container {
  width: 500px;
}
