<mat-card class="card">
  <mat-card-header>
    <h2>Завершити дипломний період</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      Ви впевнені, що хочете завершити дипломний період? Це унеможливить
      подальше редагування даних дипломників. Після завершення періоду
      завантаження подання стане доступним у вкладці Архів.
    </div>
  </mat-card-content>
  <mat-card-actions class="form-controls">
    <button mat-flat-button (click)="onConfirm()" class="button-danger">
      Завершити
    </button>
    <button mat-flat-button (click)="onCancel()">Скасувати</button>
  </mat-card-actions>
</mat-card>
